@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin : 0%; 
   padding : 0% ;
   box-sizing: border-box ;
}
 
html,body{
 height: 100vh ; 
 width: 100%; 
}
.body{
  height: 100vh;
  width: 100%;
}
nav{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  
  padding: 2px 5px ;
}
ul{
  height: fit-content;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  padding: 5px;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  bottom: 20px ;
  list-style-type: none;
  border-radius: 50px;
  background-color: lavender;
}
button{
  height: auto;
  width: 85px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: poppins;
  border-radius: 15px;
  border: 2px solid black;
  margin-right: 5px;
  padding: 1px auto;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.txt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
.txt p{
  font-weight: 600;
  font-size: 4em;
} 
